.menu-close, .menu-open {
  display: none;
}

@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
  body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    position: relative;
  }
  .nav-mobile {
    z-index: -3;
    position: absolute;
    top: 0px;
  }
  .nav-head {
    z-index: 3;
  }
  #nav {
    -webkit-transition: height 1s;
    transition: height 1s;
  }
  #nav-mobile_close {
    height: 100vh;
    background-color: #bdd1f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
    padding-top: 4rem;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
    margin-left: 100vw;
  }
  #nav-mobile_open {
    height: 100vh;
    background-color: #bdd1f5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
    padding-top: 4rem;
    -webkit-transition: margin-left 1s;
    transition: margin-left 1s;
    margin-left: 0px;
  }
  .menu-close, .menu-open {
    display: inline;
  }
  #menu-open {
    display: none;
  }
  #menu-close-btn {
    display: none;
  }
}

.glass-ui {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#slider {
  width: 27rem;
  height: 17rem;
  overflow: hidden;
}

#slider .boxs {
  width: 27rem;
  height: 17rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  .card {
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    overflow: scroll;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
  .card .boxs {
    width: 80vw;
    height: 24rem;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  #slider {
    width: auto;
    height: 16rem;
    overflow: hidden;
  }
  #slider .boxs {
    width: auto;
    height: 16rem;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */